PORT=3000
BASE_URL=http://localhost:3000
FRONTEND_URL=bag-website-six.vercel.app
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.mdy6t11.mongodb.net/?retryWrites=true&w=majority
MONGODB_DB_NAME=bag-website
PAYSTACK_SECRET_KEY=sk_test_0cf4df8911d2980e8cc550b712608436ced24767
ADMIN_USER=admin
ADMIN_PASS=12345
SESSION_SECRET=node -e "console.log(require('crypto').randomBytes(32).toString('hex'))"
MAIL_SERVICE=gmail
MAIL_USER=hotshionhub@gmail.com
MAIL_PASS=geaj mrba srbl dltj
